@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

:root {
    --main: #3b9636;
    --bg: #c8dac6;
    --text: #374637;
    --button: #78b174;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Roboto;
}

h1 {
    font-weight: 400;
    font-size: 44pt;
    color: var(--main);
}

svg {
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.content {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin: 0;
    text-align: center;
    align-items: center;
}

.content p {
    font-weight: 300;
    font-size: 20px;
}
.content ul {
    display: flex;
    margin: 44px 0;
    padding: 0;
    justify-content: center;
}
.content ul li {
    list-style: none;
}

.content a {
    padding: 20px;
    border-radius: 28px;
    text-decoration: none;
    color: var(--text);
    background: var(--button);
}